*{margin: 0; padding: 0; font-family: undefined,sans-serif!important} /* Reseting the margin and padding of all elements from their defaults to zero*/

/*Setting display bloack for elements that were added in html5, havent yet used some of the elements in my html*/
article, aside, figure, footer, header, hgroup, nav, section {display: block;}

body{width: 100%; background-color: #f4f4ef;}
#landing{
    background: url(../images/bg_one.jpg) no-repeat; width: 100%; height: 662px;
}