*{margin: 0; padding: 0; font-family: undefined,sans-serif!important} /* Reseting the margin and padding of all elements from their defaults to zero*/

/*Setting display bloack for elements that were added in html5, havent yet used some of the elements in my html*/
article, aside, figure, footer, header, hgroup, nav, section {display: block;}

body{width: 100%; background-color: #f4f4ef;}
ul{list-style-type: none;}
.main_header{
    display: flex; background: #fff; padding: 1.5rem 0; box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
}

.main_header nav li{display: inline;}

.nav_wrapper{align-items: flex-end;}

.signup_login_form {
    background: #fff; width:40%; margin: 50px auto 0; margin-bottom: 40px; padding: 5em;
    font-family: 'Open Sans', sans-serif; text-align: center; border: 1px solid rgb(211,211,211);
    box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
}

input[type=text], input[type=password], input[type="submit"]{
    width: 50%; margin:8px auto; padding: 14px 20px;
}

input[type=text], input[type=password] {
    height: 44px; box-sizing: border-box; padding-left: 15px; padding-right: 15px;
    border: 1px solid #dbe2e8; font-size: 14px; box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    border-radius: 2px; color: #2e3d49;
}

input[type = "submit"] {
    background-color: rgb(50, 89, 218); color: white; padding: 14px 20px; margin: 8px 0; border: none;
    cursor: pointer; font-family: 'Open Sans', sans-serif; font-size: 12px; font-weight: 600;
    border-radius: 4px; box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1); letter-spacing: 0.165em;
}